<form [formGroup]="verificationForm" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <input maxlength="1" formControlName="token0" (input)="onInput($event, 1)">
      <input maxlength="1" formControlName="token1" (input)="onInput($event, 2)">
      <input maxlength="1" formControlName="token2" (input)="onInput($event, 3)">
      <input maxlength="1" formControlName="token3" (input)="onInput($event, 4)">
    </div>
  
    <p>Válido por: </p>
    <a (click)="resendCode()">Volver a enviar</a>
    <button type="submit">Continuar</button>
  </form>