ProgressusWebApi/.vs/ProgressusWebApi/FileContentIndex/1a56905d-7bb9-4f04-9b73-324fcdf81b48.vsidx
ProgressusWebApi/.vs/ProgressusWebApi/FileContentIndex/40832d29-5021-4256-8a5e-89c2f68fea94.vsidx
ProgressusWebApi/.vs/ProgressusWebApi/FileContentIndex/735f59de-7797-4c9d-981c-60bb373951e3.vsidx
ProgressusWebApi/.vs/ProgressusWebApi/FileContentIndex/7b154b22-8e8a-4199-a81f-5a1416ed95e2.vsidx
ProgressusWebApi/.vs/ProgressusWebApi/FileContentIndex/a0197c6e-1e4c-4dce-a7b6-ad3f2df49768.vsidx
*.vsidx
*.cs
*.cache
