ProgressusWebApi/.vs/ProgressusWebApi/FileContentIndex/1a56905d-7bb9-4f04-9b73-324fcdf81b48.vsidx
ProgressusWebApi/.vs/ProgressusWebApi/FileContentIndex/40832d29-5021-4256-8a5e-89c2f68fea94.vsidx
ProgressusWebApi/.vs/ProgressusWebApi/FileContentIndex/735f59de-7797-4c9d-981c-60bb373951e3.vsidx
ProgressusWebApi/.vs/ProgressusWebApi/FileContentIndex/7b154b22-8e8a-4199-a81f-5a1416ed95e2.vsidx
ProgressusWebApi/.vs/ProgressusWebApi/FileContentIndex/a0197c6e-1e4c-4dce-a7b6-ad3f2df49768.vsidx
*.vsidx
*.cs
*.cache
.vs/VSWorkspaceState.json
ProgressusWebApi/ProgressusWebApi/obj/Debug/net8.0/ProgressusWebApi.AssemblyInfo.cs~feature_franC
ProgressusWebApi/ProgressusWebApi/obj/Debug/net8.0/ProgressusWebApi.AssemblyInfoInputs.cache~feature_franC
ProgressusWebApp/src/app/account/app-verificacion-modal.component.ts
ProgressusWebApp/src/app/account/app-verificacion-modal.html
ProgressusWebApp/src/app/account/app-verificacion-modal.scss
